.glow-on-hover {
    width: 220px;
    height: 50px;
    border: 2px solid white;
    outline: none;
    color: #fff;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    border-color: white;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.leftcontainer {
    margin: 0;
    margin-inline-start: inherit;
    height: 400px;
    top: 45%;
    right: 50%;
    left: 20%;
    position: fixed;
}

.rightcontainer {
    margin: 0;
    margin-inline-start: inherit;
    height: 400px;
    top: 45%;
    left: 50%;
    right: 10%;
    position: fixed;
}

.righttopcontainer {
    margin: 0;
    margin-inline-start: inherit;
    height: 100px;
    top: 0%;
    left: 80%;
    right: 50%;
    position: fixed;
}

.tooltip {
    position: relative;
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: dimgrey;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.test {
    display: flex;
    flex-direction: row;
}

.cardhome {
    align-self: center;
    height: 5em;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    width: 40em;
    margin: 0.5em;
}

.card2 {
    position: relative;
    top: 50px;
    left: 5%;
    right: 70%;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
}

.card1 {
    position: relative;
    top: 60px;
    left: 5%;
    right: 70%;
    height: 100%;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(24, 22, 22, 0.2);
    align-items: center;
    object-fit: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    position: fixed;
    overflow: hidden;
    top: 0%;
    left: 0%;
    width: 100%;
    border-bottom: 1px solid white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:white
}

.text-glow {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa;
    color: white;
    font-size: 30px;
}