<!DOCTYPE html>
<html lang="en">

<head>
    <title>EmoViz</title>
    <link rel="stylesheet" href="{{url_for('static',filename='display.css')}}" />
    <link rel="icon" href="{{url_for('static',filename='eye.png')}}" type="image/png">

</head>

<body>
    <div class="righttopcontainer">
        <a href="{{url_for('home')}}"><button class="glow-on-hover">HOME</button></a
      >
    </div>
    <h1 style="padding-left: 30%;">YOUR FEEDBACK SENT SUCCESSFULLY</h1>
    <div style="align-items: center;padding-left: 38%;">
        <img src=" {{url_for( 'static',filename='thumbsup.jpg' )}} "></img>
    </div>

</body>

</html>